
{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "./build_support/graphql/babelRelayPlugin",
    "transform-runtime",
    ["resolver", { "resolveDirs": ["src", "node_modules"] }]
  ]
}
